<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">
  <Appenders>
   	<!-- the SolrProvider has the following attributes
		coreName 		- 	name of the core/collection. used by all solr server implementation (HttpSolrServer, LBHttpSolrServer, CloudSolrServer, EmbeddedSolrServer). NOT optional for EmbeddedSolrServer
     	commitWithinMs	-	amount of time before a commit is executed. used by all solr server implementation (HttpSolrServer, LBHttpSolrServer, CloudSolrServer, EmbeddedSolrServer).
     	url 			-	solr URL used by HttpSolrServer
     	solrServerUrls	-	comma (",") separated list of solr urls. used by LBHttpSolrServer
     	zkHost			-	list of zooKeeper instances to connect to. used by {@link CloudSolrServer
     	solrHome		- 	absolute/relative path to the solr home directory. used by EmbeddedSolrServer
   	 -->
 	
 	<!-- Configuration of a HttpSolrServer
 		url				- 	mandatory
 		coreName 		- 	optional
 		commitWithinMs	-	optional
 	 -->
 	<NoSql name="HttpSolrServer">
 		<!-- minimal configuration -->
		<Solr url="http://localhost:8983/solr"/>
		
		<!-- other examples -->
		<!-- 
		<Solr url="http://localhost:8983/solr" coreName="collection1"/>
		<Solr url="http://localhost:8983/solr" commitWithinMs="1000"/>
		<Solr url="http://localhost:8983/solr" coreName="collection1" commitWithinMs="1000"/>
		 -->
 	</NoSql>
 	
 	<!-- Configuration of a LBHttpSolrServer
 		solrServerUrls	- 	mandatory
 		coreName 		- 	optional
 		commitWithinMs	-	optional
 	 -->
 	<NoSql name="LBHttpSolrServer">
 		<!-- minimal configuration -->
		<Solr solrServerUrls="http://localhost:8983/solr,http://localhost:8984/solr" />
		
 		<!-- other examples -->
 		<!-- 
 		<Solr solrServerUrls="http://localhost:8983/solr,http://localhost:8984/solr" coreName="collection1"/>
 		<Solr solrServerUrls="http://localhost:8983/solr,http://localhost:8984/solr" commitWithinMs="1000"/>
 		<Solr solrServerUrls="http://localhost:8983/solr,http://localhost:8984/solr" coreName="collection1" commitWithinMs="1000"/>
 		-->
 	</NoSql>
 	
 	 <!-- Configuration of a CloudSolrServer
 		zkHost			- 	mandatory
 		coreName 		- 	optional
 		commitWithinMs	-	optional
 	 -->
 	<NoSql name="CloudSolrServer">
 		<!-- minimal configuration -->
		<Solr zkHost="zooKeeper:2181" />
		
		<!-- other examples -->
 		<!-- 
		<Solr zkHost="zooKeeper:2181" coreName="collection1"/>
		<Solr zkHost="zooKeeper:2181" commitWithinMs="1000"/>
		<Solr zkHost="zooKeeper:2181" coreName="collection1" commitWithinMs="1000"/>
		-->
 	</NoSql>
 	
  	<!-- Configuration of a EmbeddedSolrServer
 		solrHome		- 	mandatory
 		coreName 		- 	mandatory
 		commitWithinMs	-	optional
 	 -->
 	<NoSql name="EmbeddedSolrServer">
 		<!-- minimal configuration -->
		<Solr solrHome="./solr_home" coreName="collection1"/>
		
		<!-- other examples -->
 		<!-- 
		<Solr solrHome="./solr_home" coreName="collection1" commitWithinMs="1000"/>
		-->
 	</NoSql>
 	
        
  </Appenders>
  <Loggers>
    <Root level="DEBUG">
		<AppenderRef ref="HttpSolrServer"/>
		<AppenderRef ref="LBHttpSolrServer"/>
		<AppenderRef ref="CloudSolrServer"/>
		<AppenderRef ref="EmbeddedSolrServer"/>
	</Root>
  </Loggers>
</Configuration>